{% extends "base.html" %}

{% block content %}
    <div id="updateForm">
        {% if messages %}
            {% for message in messages %}
                <p class = "msg" style="background: #FFFFCC;">{{message}}</p>
            {% endfor %}
        {% else %}
            <form method = "POST">
                {% csrf_token %}
                <label class="form-label"><strong>Title:</strong></label>
                {{form.heading}}
                <br>

                <label class="form-label"><strong>Notes:</strong></label>
                {{form.text}}
                <br>

                <input class="btn btn-danger" type="submit" style = "width: 100%" value = "Delete">
            </form>
            <br>

            <a href=" {% url 'index' %}">
                <input class="btn btn-success" type="submit" style = "width: 100%" value = "Cancel">
            </a>
        {% endif %}
    </div>
{% endblock %}